[submodule "pocketsphinx"]
	path = pocketsphinx
	url = git@github.com:mikeferguson/pocketsphinx.git
[submodule "leap_motion_controller"]
	path = leap_motion_controller
	url = git@github.com:UTNuclearRoboticsPublic/leap_motion_controller.git
