<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Floor -->
  <link name="floor">
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="3 3 0.01"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="3 3 0.01"/>
      </geometry>
      <material name="transparent_blue">
        <color rgba="0 0 0.8 0.02"/>
      </material>
    </visual>
  </link>
  <joint name="world_to_floor" type="fixed">
    <origin xyz="0 0 -0.1" rpy="0 0 0" />
    <parent link="world"/>
    <child link = "floor" />
  </joint>

  <!-- Back wall -->
  <link name="back_wall">
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.01 3 3"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.01 3 3"/>
      </geometry>
      <material name="transparent_blue">
        <color rgba="0 0 0.8 0.02"/>
      </material>
    </visual>
  </link>
  <joint name="world_to_back_wall" type="fixed">
    <origin xyz="-0.5 0 1.5" rpy="0 0 0" />
    <parent link="world"/>
    <child link = "back_wall" />
  </joint>

  <!-- attach Temoto frame -->
  <!-- A tool link that will serve as the base end effector, instead of tool0. -->
  <link name="temoto_end_effector" />
  <joint name="ur5-temoto" type="fixed" >
    <origin xyz="0.0 0.0 0.0" rpy="0 -1.571 0"/>
    <parent link="ee_link" />	<!-- end-effector link for UR5 -->
    <child link="temoto_end_effector" />
  </joint>

   <!-- attach gripper. Z is up -->
  <joint name="hand_attach_joint" type="fixed">
    <parent link= "ee_link" />
    <child link = "2_finger_85_gripper_link" />
    <origin xyz="0.09 0 0" rpy="0 0 -1.571" />    
  </joint>  

  <link name="2_finger_85_gripper_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://temoto_support/meshes/2_finger_85_gripper_urdf.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="black">
          <color rgba="0.05 0.05 0.05 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://temoto_support/meshes/2_finger_85_gripper_urdf.stl" scale="0.00105 0.00105 0.00105"/>
        </geometry>
      </collision>
  </link>

</robot>
