<launch>

  <!--                 -->
  <!--  CONFIGURATION  -->
  <!--                 -->


  <!-- Load temoto parameters -->
  <rosparam command="load" file="$(find temoto)/config/ur5_sim.yaml" />

  <!-- Bring up speech-to-text and text-to-speech -->
  <!-- <include file="$(find pocketsphinx)/launch/pocketsphinx.launch" /> -->
  <node name="kb_fake_voice_commander" pkg="temoto" type="kb_fake_voice_commander" output="screen" />
  <node name="keyboard_event_publisher" pkg="keyboard_reader" type="keyboard_event_publisher"/>
  <!-- <include file="$(find google_speech_to_text)/launch/en-US.launch" /> -->

  <!-- Bring up Griffin Powermate -->
  <node name="griffin_powermate" pkg="griffin_powermate" type="griffin_powermate" />


  <!--                 -->
  <!--                 -->
  <!--                 -->
  

  <!-- Pose Controller -->
  <include file="$(find spacenav_node)/launch/classic.launch" ns="temoto"/> 


  <!-- Most of the action happens here -->
  <node name="start_teleop" pkg="temoto" type="start_teleop" launch-prefix="gnome-terminal --command" />


  <!-- Start soundplay_node that is responsible for voice synthesis -->le
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" />


  <!-- Arm jogging -->
  <!--include file="$(find ur_gazebo)/launch/jog_arms.launch" /-->

</launch>
