<launch>

  <!-- /////////////////////////////// -->
  <!-- CHOOSE HARDWARE OR SIMULATION   -->
  <!-- /////////////////////////////// -->

  <!-- ////  HARDWARE  //// -->

  <include file="$(find ur_bringup)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="192.168.1.15" />
  </include>

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch" />


  <!-- ////  SIMULATION  //// -->
<!--
  <include file="$(find ur5_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>

-->
    <!-- <rosparam command="load" file="$(find ur5_moveit_config)/config/initial_states.yaml" /> -->
<!--
  </node>

  <arg name="debug" default="false" />
  <include file="$(find ur5_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
-->

 

  <!-- //////////////////  -->
  <!-- BRING TEMOTO ONLINE -->  
  <!-- //////////////////  -->

  <!-- LeapMotion or SpaceMouse? -->
  <include file="$(find spacenav_node)/launch/classic.launch"/>
  <!-- <node name="leap_motion" pkg="leap_motion_controller" type="leap_motion" /> -->
    
  <node name="griffin_powermate" pkg="griffin_powermate" type="griffin_powermate" />

  <node name="interpret_utterance" pkg="temoto" type="interpret_utterance" >
    <param name="input_voice_topic" type="str" value="stt/spoken_text" />
  </node>

  <node name="human_frame_broadcaster" pkg="temoto" type="human_frame_broadcaster" />

  <node name="rviz_visual" pkg="temoto" type="rviz_visual" output="screen">
      <param name="manip_stl" type="str" value="package://temoto_support/meshes/2_finger_85_gripper_marker.stl" />
  </node>

  <node name="start_teleop" pkg="temoto" type="start_teleop" launch-prefix="xterm -title '手元 TELEOPERATOR' -e">
    <param name="primary_hand" type="str" value="left" />
    <param name="navigate" type="bool" value="false" />
    <param name="manipulate" type="bool" value="true" />
    <param name="absolute_pose_input" type="bool" value="false" />  <!-- The spacemouse sends incremental commands -->
    <param name="temoto_pose_cmd_topic" type="str" value="spacenav/joy" />
  </node>
  
  <node name="move_robot" pkg="temoto" type="move_robot" output="screen">
    <param name="movegroup" value="manipulator" />
  </node>

  <include file="$(find temoto)/launch/ur5_moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <include file="$(find speech_to_text)/launch/speech_to_text.launch" />
  
</launch>

