<launch>

  <!--                 -->
  <!--  CONFIGURATION  -->
  <!--                 -->


  <!-- Load temoto parameters -->
  <rosparam command="load" file="$(find temoto)/config/vaultbot.yaml" />


  <!--                 -->
  <!--                 -->
  <!--                 -->


  <node name="spacenav_pro" pkg="spacenav_pro" type="spacenav_pro" />


  <!-- Bring up Griffin Powermate -->
  <node name="griffin_powermate" pkg="griffin_powermate" type="griffin_powermate" />


  <!-- Most of the action happens here -->
  <node name="start_teleop" pkg="temoto" type="start_teleop" launch-prefix="gnome-terminal --command" />


  <!-- bringup proper rviz config -->
  <include file="$(find temoto)/launch/vaultbot_moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>


  <!-- Open an rqt window for camera feeds -->
  <node name="rqt_image_panel" pkg="vaultbot_drivers" type="rqt_gui.sh" />


  <!-- Start soundplay_node that is responsible for voice synthesis -->
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" />


  <!-- Arm jogging -->
  <include file="$(find vaultbot_drivers)/launch/jog_arms.launch" />


  <!-- FOR TEACH_MOTIONS -->
  <!-- include file="$(find teach_motions)/launch/vaultbot_prepare_to_send.launch"/ -->


  <node name="arm_warning_left" pkg="arm_warnings" type="arm_warnings" output="screen" respawn="true">
    <param name="move_group_name" type="str" value="left_ur5" />
    <param name="marker_id" type="int" value="573" />

    <param name="minimum_joint_rad" type="double" value="-3.141" />
    <param name="maximum_joint_rad" type="double" value="3.141" />
  </node>

  <node name="arm_warning_right" pkg="arm_warnings" type="arm_warnings" output="screen" respawn="true">
    <param name="move_group_name" type="str" value="right_ur5" />
    <param name="marker_id" type="int" value="574" />

    <param name="minimum_joint_rad" type="double" value="-3.141" />
    <param name="maximum_joint_rad" type="double" value="3.141" />
  </node>

  <!-- MAINTAIN_POSE -->
  <include file="$(find maintain_pose)/launch/maintain_pose.launch" />

</launch>
