<launch>

  <!-- HMD pose with respect to base_link -->
  <node pkg="tf" type="static_transform_publisher" name="world_tf" args="0 0 1.3 0 0 0 /base_link /hmd 10"/>

  <!-- Rviz inset camera frame -->
  <node pkg="tf" type="static_transform_publisher" name="inset_camera_tf" args="2 0 0 -1.5707 0 -1.5707 /hmd /inset_camera_frame 10"/>

  <!-- Launch hmd camera (assumes /dev/video0 device, no other cams detected) -->
  <node pkg="usb_cam" type="usb_cam_node" name="camera_hmd" args="_image_width:=612 _image_height:=460 _framerate:=30 _pixel_format:=yuyv"/>

</launch>
